/* body{
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.box{
  background-color: antiquewhite;
  height: 100px;
  width: auto;
  display: flex;
}
.box inputbox{
  height: 50px;
  width: 300px;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}

.weather h1{
  color: black;
} */
